__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log
.pytest_cache/
.mypy_cache/
.venv/
venv/
artifacts/
_00_Preprocessing/artifacts/
.DS_Store
_01_Segmentation/run_log.jsonl
OUTPUT*/
TODO
/data/alessia.gerbasi/AI4Quality/_04_Recommendations/data
/data/alessia.gerbasi/AI4Quality/_05_FullPipeline/.dockerignore
/data/alessia.gerbasi/AI4Quality/_05_FullPipeline/Dockerfile
/data/alessia.gerbasi/AI4Quality/_05_FullPipeline/test_2cases

